<h1>Listado de materiales</h1>

<table id="index_redux">
  <thead>
  <tr>
    <th width="300px">Nombre</th>
    <th width="150px">Referencia</th>
  </tr>
<tbody>
	
<% @materiales.each do |material| %>
  <tr>
	<td><%= link_to material.nombre, :controller => "materiales", :action => "show", :id => material.id %></td>
    <td><%=h material.referencia %></td>
    <td class="crud"><%= link_to image_tag("editar.png", :border=>0), edit_material_path(material) %></td>
    <td class="crud"><%= link_to image_tag("borrar.png", :border=>0), material, :confirm => '¿Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />
<div id="acciones">
<%= link_to 'Nuevo material', new_material_path %>
</div>