<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Partes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'inicio' %>
</head>
<body id="content">
	<div id="banner">
		<%= image_tag("rails.png") %><br />
		<%= @page_title || "Instalaciones y Proyectos, S.L." %>
	</div>
	<ul id="menu">
		<li><%= link_to '<strong>Inicio</strong>', :controller => 'inicio', :action => 'index' %></li>
		<li><%= link_to 'Operarios', operarios_path %></li>
		<li><%= link_to 'Ciudades', ciudades_path %></li>
		<li><%= link_to 'Materiales', materiales_path %></li>
		<li><%= link_to 'Obras', obras_path %></li>
		<li><%= link_to 'Partes', partes_path %></li>
	</ul>
	<br />
	<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>
			<%= yield %>
	</div>
	<div id="footer">
		Instalaciones y Proyectos, S.L. 2009
	</div>
</body>
</html>